#PYTTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1E1E1E;
}

#PYTSubtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #8A8A8A;
}

.PYTCard {
    background-color: #FFF !important;
    border-radius: 12px !important; 
    max-width: 80%;
}

.PYTCard:hover {
    box-shadow: 4px 10px 15px #00000026 !important;
}

.PYTCardText {
    width: 100%;
    font-size: 14px;
}