#PTTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #1E1E1E;
}

#PTSearchBox {
    height: 40px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    margin-right: 35px;
    border: 0 none;
    outline: none;
    background-color: #fff;
    box-shadow: 4px 10px 15px #0000001A;
    border-radius: 12px;
    padding-left: 10px;
}